<div id="<%= dom_id list %>" class="scaffold_record">
  <p>
    <strong>Ten:</strong>
    <%= list.ten %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= list.content %>
  </p>

  <p>
    <%= link_to "Show this list", list %>
  </p>
</div>
